<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title document.title|default(site.title|default('')) %}</title>

    <meta name="description" content="{% block description document.metadatas.description|default(site.description|default('')) %}">
    <meta name="author" content="{{ document.author_name|default(site.author_name|default('')) }}">
    <meta name="viewport" content="width=device-width">

    {% block metas '' %}

    {% if site.url_absolute is defined and site.url_absolute -%}
      <link rel="canonical" href="{{ site.url_absolute }}/{{ document.path }}"/>
    {%- endif %}

    <link rel="stylesheet" href="{{ relativeRoot }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ relativeRoot }}/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="{{ relativeRoot }}/css/main.css">
    <link rel="stylesheet" href="{{ relativeRoot }}/css/highlight.css">

    {% block stylesheets '' %}

    <script src="{{ relativeRoot }}/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
  </head>

  <body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    {% block header_before '' %}

    {% block header %}
      <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
              <div class="container">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </a>
                  <a class="brand" href="{{ relativeRoot }}">{{ site.title|default('') }}</a>
                  <div class="nav-collapse collapse">
                    {% block nav_left %}
                      <ul class="nav">
                        {% if navigation.main is defined %}
                          {% for document in navigation.main %}
                            {% if document.path == currentPath %}
                              <li class="active"><a href="{{ relativeRoot }}/{{ document.path}}">{{ document.title }}</a></li>
                            {% else %}
                              <li><a href="{{ relativeRoot }}/{{ document.path}}">{{ document.title }}</a></li>
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                      </ul>
                    {% endblock %}
                    {% block nav_right '' %}
                  </div>
              </div>
          </div>
      </div>
    {% endblock %}

    {% block header_after '' %}

    {% block content %}
      <div class="container">

        {% block content_header '' %}

        {% block content_container %}
          <div class="row">
            <div class="span10 offset1 content">
              {% block content_title %}
                {% if document.title is defined and document.title %}
                  <div class="page-header">
                    <h1>
                      {{- document.title }}
                      {%- if document.metadatas.subtitle is defined %} <small>{{ document.metadatas.subtitle }}</small>{% endif -%}
                    </h1>
                  </div>
                {% endif %}
              {% endblock %}

              {% block content_main document.body|default('')|raw %}
            </div>
          </div>
        {% endblock %}

        {% block content_footer %}
          <footer>
            <p>
              &copy;
              {% if site.author_name %}
                <a href="{{ site.author_url|default('')}}">
                  {{ site.author_name }}
                </a>
              {% endif %}
              {{ "now"|date("Y") }}
              <small>
                with help from <a href="http://carew.github.com/" target="_blank">Carew</a>
              </small>
            </p>
          </footer>
        {% endblock %}
      </div>
    {% endblock %}

    {% block footer '' %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ relativeRoot }}/js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
    <script src="{{ relativeRoot }}/js/vendor/bootstrap.min.js"></script>
    {% block javascripts '' %}
  </body>
</html>
