<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title carew.document.title|default(carew.site.title|default('')) %}</title>

    <meta name="description" content="{% block description carew.document.metadatas.description|default(carew.site.description|default('')) %}">
    <meta name="author" content="{{ carew.document.author_name|default(carew.site.author_name|default('')) }}">
    <meta name="viewport" content="width=device-width">

    {% block metas '' %}

    {% if carew.site.url_absolute is defined -%}
      <link rel="canonical" href="{{ carew.site.url_absolute }}/{{ carew.document.path }}"/>
      {% block feed %}
        <link rel="alternate" href="{{ carew.site.url_absolute }}/feed/atom.xml" type="application/atom+xml" title="{{ carew.site.title|default('') }}"/>
      {% endblock %}
    {%- endif %}

    {% block stylesheets %}
    {% spaceless %}
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="{{ carew.relativeRoot }}/css/bootstrap.min.css">
      <link rel="stylesheet" href="{{ carew.relativeRoot }}/css/bootstrap-theme.min.css">

      <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/pojoaque.min.css">
      {#
      Some other theme. Visit http://softwaremaniacs.org/soft/highlight/en/ for more
      <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/solarized_dark.min.css">
      <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/rainbow.min.css">
      <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/zenburn.min.css">
      <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/tomorrow-night-eighties.min.css">
      #}
    {% endspaceless %}
    {% endblock %}
  </head>

  <body>
    {% block content %}
      <div class="container">
        {% block content_header %}
          <div class="page-header">
            <ul class="list-inline pull-right">
              {% if carew.navigations.main is defined %}
                {% for document in carew.navigations.main %}
                  <li{% if document.path == carew.currentPath %} class="active"{% endif %}>
                    <a href="{{ render_document_path(document) }}">
                      {{ render_document_title(document) }}
                    </a>
                  </li>
                {% endfor %}
              {% endif %}
            </ul>
            <h1>
              <a href="{{ carew.relativeRoot }}">
                {{ carew.site.title|default('') }}
              </a>
            </h1>
          </div>
        {% endblock %}

        {% block content_container %}
          <div class="content">
            {% block content_title %}
              {% if carew.document.title is defined and carew.document.title %}
                <h1>
                  {{ carew.document.title }}
                  {%- if carew.document.metadatas.subtitle is defined %}
                    <small>{{ carew.document.metadatas.subtitle }}</small>
                  {% endif -%}
                </h1>
              {% endif %}
            {% endblock %}

            {% block content_main carew.document.body|default('')|raw %}
          </div>
        {% endblock %}

        {% block content_footer %}
          <footer>
            <p class="text-center">
              &copy;
              {% if carew.site.author_name %}
                <a href="{{ carew.site.author_url|default('')}}">
                  {{- carew.site.author_name -}}
                </a>
              {% endif %}
              {{ "now"|date("Y") }}
              <small>
                with help from <a href="http://carew.github.com/" target="_blank">Carew</a>
              </small>
            </p>
          </footer>
        {% endblock %}
      </div>
    {% endblock %}

    {% block footer '' %}

    {% block javascripts %}
      <script src="{{ carew.relativeRoot }}/js/jquery-2.1.0.min.js"></script>
      <script src="{{ carew.relativeRoot }}/js/bootstrap.min.js"></script>
      <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
      <script>hljs.initHighlightingOnLoad();</script>
    {% endblock %}
  </body>
</html>
