<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ site.title|default('') }}</title>
    <subtitle>{{ site.description|default('') }}</subtitle>
    <link href="{{ site.url_absolute|default('') }}/index.atom" rel="self" />
    <link href="{{ site.url_absolute|default('') }}/" />
    {% if site.url_absolute %}
    <id>{{site.url_absolute}}/</id>
    {% endif %}
    {% if latest %}
    <updated>{{ latest.date|date('Y-m-d\\TH:i:sP') }}</updated>
    {% endif %}
    {% for post in posts %}
    <entry>
        <title>{{ post.title }}</title>
        <content><![CDATA[{{ post.body|striptags|slice(0, 80)|raw }}]]></content>
        <link rel="alternate" type="text/html" href="{{ site.url_absolute|default('') }}/{{ post.path }}"/>
        {% if site.url_absolute %}
        <id>{{site.url_absolute}}/{{ post.path }}</id>
        {% endif %}
        <updated>{{ post.metadatas.date|date('Y-m-d\\TH:i:sP') }}</updated>
        <author>
            <name>{{ post.metadatas.author_name|default(site.author_name|default('')) }}</name>
            <email>{{ post.metadatas.author_name|default(site.author_email|default('')) }}</email>
        </author>
    </entry>
    {% endfor %}
</feed>
