<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ site.title|default('') }}</title>
    <subtitle>{{ site.description|default('') }}</subtitle>
    <link href="{{ url_absolute|default('') }}/index.atom" rel="self" />
    <link href="{{ url_absolute|default('') }}/" />
    <id>{{ site.title|default('') }}</id>
    {% if latest %}<updated>{{ latest.date|date('Y-m-d\\TH:i:sP') }}</updated>{% endif %}
    {% for post in posts %}
    <entry>
        <title>{{ post.metadata.title }}</title>
        <link rel="alternate" type="text/html" href="{{ url_absolute|default('') }}/{{ post.path }}"/>
        <id>{{ post.path }}</id>
        <updated>{{ post.metadata.date|date('Y-m-d\\TH:i:sP') }}</updated>
        <author>
            <name>{{ post.metadata.author_name|default(site.author_name|default('')) }}</name>
            <email>{{ post.metadata.author_name|default(site.email_email|default('')) }}</email>
        </author>
    </entry>
    {% endfor %}
</feed>
