{% extends "default.html.twig" %}

{% block content_title %}
<div class="page-header">
    <h1>
        {{- document.title|default(site.title|default('')) }}
        {%- if site.description %} <small>{{ site.description }}</small>{% endif -%}
    </h1>
</div>
{% endblock %}

{% block ul_class '' %}

{% block content_main %}
    {% block posts %}
        {% if posts %}
            {% block posts_title %}
                <h2>Blog post</h2>
            {% endblock %}
            {% block posts_list %}
                <ul class="{{ block('ul_class') }}">
                    {% for post in posts %}
                        {% block post %}
                            <li><a href="{{ relativeRoot }}/{{ post.path }}">{{ post.metadatas.date|date('M d') }}: {{ post.title|title }}</a></li>
                        {% endblock %}
                    {% endfor %}
                </ul>
            {% endblock %}
            {% block post_pagination %}
                {% if posts_pagination is defined and posts_pagination|length > 1 %}
                    <div class="pagination">
                        <ul>
                            {% for page in posts_pagination %}
                                <li {% if document.path == page.path %}class="active"{% endif %}>
                                    <a href="{{ relativeRoot}}/{{ page.path }}">{{ page.vars.page }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endblock %}
        {% endif %}
    {% endblock %}

    {% block pages %}
        {% if pages %}
            {% block pages_title %}
                <h2>Pages</h2>
            {% endblock %}
            {% block page_list %}
                <ul class="{{ block('ul_class') }}">
                    {% for page in pages %}
                        {% block page %}
                            <li><a href="{{ relativeRoot }}/{{ page.path }}">{{ page.title|title }}</a></li>
                        {% endblock %}
                    {% endfor %}
                </ul>
            {% endblock %}
        {% endif %}
    {% endblock %}

    {% block tags %}
        {% if tags %}
            {% block tags_title %}
                <h2>Tags</h2>
            {% endblock %}
            {% block tags_list %}
                <ul class="{{ block('ul_class') }}">
                    {% for tag in tags %}
                        {% block tag %}
                            <li><a href="{{ relativeRoot }}/{{ tag.path }}">{{ tag.title|title }}</a></li>
                        {% endblock %}
                    {% endfor %}
                </ul>
            {% endblock %}
        {% endif %}
    {% endblock %}
{% endblock %}
