{% extends "default.html.twig" %}

{% block content_main %}
  <article>
    <div class="date pull-right">
      {{ document.metadatas.date|date('M jS, Y') }}
    </div>

    <div class="body">
      {{ document.body|raw }}
    </div>

    <hr>

    <h4>Published:</h4>
    {{ document.metadatas.date|date('M jS, Y') }}{% if document.metadatas.author_name is defined %} by {{ document.metadatas.author_name }}{% endif %}

    {% if document.metadatas.tags|length > 0 %}
      <h4>Tags:</h4>
      <ul class="tag_box inline">
        {% for tag in document.metadatas.tags %}
          <li><a href="{{ relativeRoot }}/tags/{{ tag }}.html">{{ tag|title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </article>
{% endblock %}
